body
{
    background-color: black;
}
footer
{
    position: relative;
    top: 200px;
}
h2
{
    color: white;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
p
{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Estilos del carrusel principal */
.carrusel {
    position: relative; /* Necesario para posicionar flechas */
    width: 99vw; /* Ocupa todo el ancho de la página */
    height: 30vh; /* El carrusel ahora ocupa el 30% del alto de la pantalla */
    margin: auto; /* Centra el carrusel horizontalmente */
    overflow: hidden; /* Oculta cualquier contenido que se desplace fuera del contenedor */
    display: flex; /* Usamos flexbox para centrar las imágenes verticalmente */
    align-items: center; /* Centra las imágenes verticalmente */
}

/* Contenedor que agrupa todos los slides */
.slides {
    display: flex; /* Muestra los slides en una fila */
    width: 400%; /* 4 imágenes, por lo que es 4 veces el ancho */
    animation: deslizar 16s infinite; /* Hace que las imágenes se deslicen automáticamente */
    height: 100%; /* Ocupa todo el alto disponible del carrusel */
    align-items: center; /* Asegura que las imágenes estén centradas verticalmente */
}

/* Cada slide individual */
.slide {
    width: 100%; /* Cada imagen toma el 100% del ancho del carrusel */
    flex: 1 0 100%; /* Asegura que cada slide tenga el mismo ancho que el carrusel */
    display: flex; /* Usamos flexbox dentro de cada slide */
    justify-content: center; /* Centra las imágenes horizontalmente */
    align-items: center; /* Centra las imágenes verticalmente */
}

/* Estilos para las imágenes */
.slide img
{
    width: 80%;
    transform: translate(12.5%, 0%);
}
/* Estilos para las flechas de navegación */
.prev, .next {
    position: absolute; /* Posiciona las flechas sobre el carrusel */
    top: 50%; /* Centra las flechas verticalmente */
    transform: translateY(-50%); /* Ajusta el desplazamiento vertical */
    background-color: rgba(0,0,0,0.5); /* Fondo oscuro translúcido */
    color: white; /* Color de la flecha */
    border: none; /* Sin borde */
    padding: 10px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor a pointer al pasar el mouse */
}

.prev { left: 10px; } /* Flecha izquierda */
.next { right: 10px; } /* Flecha derecha */

/* Estilos para los botones de navegación (dots) */
.dots {
    position: absolute; /* Posiciona los dots sobre el carrusel */
    bottom: 10px; /* Coloca los dots en la parte inferior */
    left: 50%; /* Centra horizontalmente los dots */
    transform: translateX(-50%); /* Ajusta el centrado horizontal */
    display: flex; /* Los muestra en fila */
    justify-content: center; /* Centra los dots */
    align-items: center; /* Asegura que estén alineados */
    gap: 10px; /* Espaciado entre los dots */
}

.dot {
    height: 15px; /* Altura del dot */
    width: 15px; /* Ancho del dot */
    background-color: #990000;
    border-radius: 50%; /* Hace que el dot sea redondo */
    display: inline-block; /* Los muestra en línea */
    cursor: pointer; /* Cambia el cursor a pointer */
}

.dot.active {
    background-color: #333; /* Color de dot activo */
}

.datos_login
{
    color: white;
    background-color: #990000;
    position: relative;
    left: 40px;
    top: 60px;
    border-radius: 4%;
    z-index: 1;
    text-align: center; /* Centra el contenido en su contenedor */
    display: flex;
    flex-direction: column; /* Los elementos se organizan verticalmente */
    align-items: center; /* Centra horizontalmente */
    width: 380px;
    height: 300px;
}
.username
{
    border-bottom: 2px solid white;
    position: relative;
}
.username label
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 15px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: .6s;
    /*font-weight: bold;*/
    pointer-events: none;
}
.username input
{
    background-color: transparent;
    height: 50px;
    width: 300px;
    border: none;
    outline: none;
    color: white;
}
/* Estilos cuando el input está enfocado o tiene un valor válido */
.username input:focus ~ label, .username input:valid ~ label
{
    top: 6px; /* El label se desplaza hacia arriba cuando el input está enfocado o válido */
    font-size: 18px;
}
.password
{
    border-bottom: 2px solid white;
    margin-top: 6px;
    margin-bottom: 6px;
    position: relative;
}
.password label
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 15px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: .6s;
    /*font-weight: bold;*/
    pointer-events: none;
}
.password input
{
    background-color: transparent;
    height: 50px;
    width: 300px;
    border: none;
    outline: none;
    color: white;
}
/* Estilos cuando el input está enfocado o tiene un valor válido */
.password input:focus ~ label, .password input:valid ~ label
{
    top: 6px; /* El label se desplaza hacia arriba cuando el input está enfocado o válido */
    font-size: 18px;
}
.login_btn
{
    color: white;
    background-color: black;
    border-radius: 15px;
    border: none;
    width: 150px;
    height: 40px;
    margin-top: 30px;
    font-size: 15px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*position: relative;
    left: 162.5px;
    z-index: 2;*/
}
.information_carrusel
{
    position: relative;
    top: 80px;
}
.logo img
{
    position: absolute;
    width: 70vw;
    right: 60px;
    top: 330px;
}
.whatsapp-btn
{
    display: inline-block;
    margin: 10px;
    padding: 15px;
    /*border-radius: 50%;
    background-color: #25D366; /* Color de WhatsApp */
    color: white;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 20px;
    transition: background-color 0.3s ease;
    position: relative;
    top: 120px;
    left: 80vw;
}
/* Cambia el color al pasar el ratón por encima del botón */
.whatsapp-btn:hover
{
    opacity: 0.8;
}
.instagram-btn
{
    display: inline-block;
    margin: 10px;
    padding: 15px;
    /*border-radius: 50%;
    background-color: #E1306C; /* Color rosa de Instagram */
    color: white;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 20px;
    transition: background-color 0.3s ease;
    position: relative;
    top: 120px;
    left: 80vw;
}
/* Cambia el color al pasar el ratón por encima del botón */
.instagram-btn:hover
{
    opacity: 0.8;
}
/* Adaptación del menú para pantallas pequeñas (portátiles) */
@media screen and (max-width: 1500px)
{
    footer
    {
        top: 90px;
    }
    .datos_login
    {
        left: 0;
    }
    .logo img
    {
        width: 50vw;
        right: 0;
        top: 50vh;
    }
    .whatsapp-btn
    {
        left: 70vw;
    }
    .instagram-btn
    {
        left: 70vw;
    }
}
/* Adaptación del menú para pantallas más pequeñas (tabletas) */
@media screen and (max-width: 768px)
{
    .slide img
    {
        width: 60%;
        transform: translate(32.5%, 0%);
    }
    .logo img
    {
        transform: translateX(-50%);
        left: 50%;
        top: 300px;
    }
    .datos_login
    {
        left: 0;
        margin: auto;
        top: 200px;
    }
    .whatsapp-btn
    {
        top: 180px;
        left: 70vw;
    }
    .instagram-btn
    {
        top: 180px;
        left: 70vw;
    }
}

/* Adaptación del menú para pantallas muy pequeñas (móviles) */
@media screen and (max-width: 480px)
{
    .slide img
    {
        width: 80%;
        transform: translate(12.5%, 0%);
    }
    footer
    {
        top: 130px;
    }
    .carrusel
    {
        width: 98vw;
    }
    .logo img
    {
        width: 98vw;
    }
    .datos_login
    {
        left: 0;
        top: 20vh;
        width: 310px;
        margin: auto;
    }
    .whatsapp-btn
    {
        top: 160px;
        left: 50vw;
    }
    .instagram-btn
    {
        top: 160px;
        left: 40vw;
    }
}